<script src="http://www.philly.com/includes/e32121b31e345f561b84372c2bf06282/jquery-2.0.0b2.js" type="text/javascript"></script>
<script src="http://media.philly.com/storage/inquirer/Longform/Bootstrap/js/bootstrap.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
    var $header = $('#header');
    var hhight = $header.height();
    var $content = $(".content");
    var cpadding = $content.css("padding-top");
    $('.content').css("margin-top", "-" + cpadding);
    $('#backgroundImage-1').css("background-position", "left 50% top " + hhight + "px");

    $(window).resize(function() {
        var $header = $('header');
        var hhight = $header.height();
        var $content = $(".content");
        var cpadding = $content.css("padding-top");
        $('.content').css("margin-top", "-" + cpadding);
        $('#backgroundImage-1').css("background-position", "left 50% top " + hhight + "px");
    });
});
</script>

<!-- !! The code between these tags will not show up when previewing locally, but will be included in the final bild code !! -->
<!--removeIf(build)-->
<script src="http://media.philly.com/storage/inquirer/script/LongformBootstrapCarouselE.js"></script>
<script src="http://media.philly.com/storage/inquirer/CustomShareTools/CustomShareToolsD.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#recircSpecials').load('/philly/news/special_packages/390291181.html  #morereports');
    });
</script>
<!--endRemoveIf(build)-->
