<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
    <h1 class="overlayText">Headline goes here</h1>
</div>

<div class="headerSection">
    <div class="BackgroundImageCaption">
        This is a photo caption.
    </div>
    <div class="headDisplay">
        <div class="subHead">
            This is the subhead.
        </div>
        <div class="byline">
            Jeff McLane / Staff Writer, <a href="mailto:jmclane@phillynews.com">jmclane@phillynews.com</a>
            <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
        </div>
        <div class="dateline">Pub date, Xxx. ##, 2017</div>
    </div>
</div>

<div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
            <p><span class="dropCap">L</span>ong before David Hess died at the hands of staffers at Wordsworth, there were clear signs of trouble at the West Philadelphia facility.</p>
<p>In 2015, police say, three girls who lived there were sexually assaulted by a counselor who lured them with promises of money and gifts. While rumors of the incidents swirled, Wordsworth officials were slow to investigate, and the girls say the assaults continued for weeks.</p>
<p>Earlier that year, a boy in the program was sexually assaulted by another teen who was supposed to be kept under constant supervision. When the victim initially reported the crime, staffers were dismissive, he said, and he had to beg to be taken to the hospital. An exam there found tears in his anus.</p>
<p>When he returned to the facility, he was moved to another wing, where he later told police he was assaulted a second time by a different attacker. Terrified, he ran away.</p>
<p>In the past decade, police have been summoned to Wordsworth more than 800 times, records show, for incidents ranging from minor disturbances and tripped fire alarms to rape. In all, more than four dozen sex crimes were reported at the center in those years, including 10 rapes, according to police records obtained by the Inquirer.</p>
<p>This violence unfolded inside a little-known treatment center that was the only one of its kind in Philadelphia — and for many of the troubled young people who lived there, a place of last resort. Taxpayers shelled out $119,000 a year for the care of each child but all too often reaped failure.</p>
<p>Last fall, Wordsworth added a more serious crime to its roster: homicide.</p>
<p>The city Medical Examiner's Office ruled that Hess, 17, was suffocated by staffers who went to his room in search of a stolen iPod and struggled with him when he grew agitated as they flipped over his bed and tossed furniture around his room.</p>
<p>At one point, a staffer held him down while another punched him repeatedly in the ribs, witnesses later told state investigators.</p>
<p>"Get off me," he cried, according to a state report on the incident. "I can't breathe."</p>
<p>And then, witnesses said, the room fell silent.</p>
<p>"He died a child," said Hess's sister, Elizabeth, 28. "He died a child in a facility designed to help him, and it didn't help him, it killed him."</p>
<p>						*</p>
<p>Days after Hess' Oct. 13 death, the state Department of Human Services ordered Wordsworth to close, saying it posed "an immediate and serious danger to the health and safety of the residents."</p>
<p>That decision — which Wordsworth has appealed — came years after repeated warnings from state inspectors, lawyers and others who found conditions there alarming.</p>
<p>"It's horrible," said Jonathan Cohen, a lawyer for the 16-year-old boy who was raped. "They're supposed to be protecting these kids and keeping them safe."</p>
<p>A former Wordsworth resident who spent six years at the facility said she'd watched staffers harm children with impunity during her time there.</p>
<p>"I seen people get broken arms. I see people punch a girl straight in the face. Nothing happened," she said. "Since we ain't got no family, they look at us like we ain't s—. We ain't got no fancy parents. Our parents is crackheads or mental."</p>
<p>On the sprawling grounds of a former hospital, Wordsworth runs a variety of programs that aim to help children and families in need. Among them is the residential treatment facility where Hess drew his last breath.</p>
<p>Hess, who suffered from profound mental illness, was among 82 young people at Wordsworth on that October night. Many had been sent there by the city after suffering abuse or neglect. Others were ordered to stay there after committing a crime. All had mental or behavioral problems.</p>
<p>Ranging in age from six to 21, the young people in Wordsworth's care lived in a rundown facility and slept in rooms with holes in the walls, exposed wiring, broken light fixtures and faulty heaters. There, records show, they were sometimes tended to by ill-trained staffers.</p>
<p>Over the years, inspectors from the state Department of Human Services repeatedly cited the facility for failing to ensure that its workers had the required training in the care of and management of children. Wordsworth officials repeatedly pledged to be more diligent.</p>
<p>Yet state records show that two of the staffers involved in the fatal confrontation with Hess had not had the required annual training in the proper methods of restraining a child and thus, did not meet state requirements for working with children.</p>
<p>"It's like carrying a gun without a license. You either have it or you don't" said Steven F. Marino, a lawyer for the Hess family who plans to sue Wordsworth. "You're either allowed to be around children or you're not."</p>
<p>Officials at Wordsworth declined to be interviewed and declined to respond to a detailed list of questions from the Inquirer.</p>
<p>In a statement, Wordsworth's board chairman, Thomas V. Johnson said: "At Wordsworth, there is no greater value we have than the responsibility to care for our children." He said many of the young people who live there "had experienced exceptional hardships in their lives with behavioral and other mental health issues."</p>
<p>Johnson said pending lawsuits prevented him from discussing the incidents the Inquirer asked about. However, he said, "we would like to state unequivocally that Wordsworth remains committed to ensuring a safe and secure environment for all children in our care."</p>
<p>In a statement after the Medical Examiner's Office declared Hess' death a homicide, Johnson said he and others at Wordsworth were "deeply saddened" by the incident and pledged to cooperate fully as state and local agencies investigated. </p>
<p>He also noted that in January, Wordsworth hired a new chief executive officer, Diana Ramsay, and said that under her leadership, "We all remain fully committed to ensuring that Wordsworth continues to do what is at the core of our vital mission — to transform children's lives in positive and meaningful ways." Ramsay replaced Debra Lacks, who led Wordsworth for eight years before quietly leaving her post three months ago. Lacks declined to say whether her departure was voluntary, as did Johnson and other officials at Wordsworth. She declined to be interviewed about Hess' death and other events of her tenure.</p>
<p>Despite its deficiencies, Wordsworth, which opened in 2006, had its license renewed again and again, and child welfare agencies and the courts continued to send young people there.</p>
<p>"We did rely on Wordsworth extensively," said Joan Erney, chief executive of Community Behavioral Health, a nonprofit that oversees mental health services for the city. "Places outside of Philadelphia don't want to take our kids. They tell us our kids are too complicated. They tell us our kids are too hard. We have kids with some really difficult problems."</p>
<p>Wordsworth, the only residential treatment facility in the city, was hired to care for a steady stream of young people at an average cost of $326 per day. Wordsworth is licensed to handle 124 children, but its capacity varies, officials say.</p>
<p>CBH funnels about $14 million a year in state and federal money to Wordsworth. The agency continued to write those checks even after it learned of serious problems at the facility, including the sexual assaults.</p>
<p>"Our approach to agencies generally is that we need them, and if there are opportunities to improve, we work with them," said Erney. "In the case of Wordsworth, there were challenges.</p>
<p>Two years before the state ordered Wordsworth to shut down, CBH, alerted by concerned lawyers at the Defender Association of Philadelphia, began holding monthly meetings with officials at the facility.</p>
<p>Also at the meetings were representatives of the city and Department of Human Services, which is responsible for the care of children who have been abused or neglected or have been adjudicated delinquent after committing crimes; the state Department of Human Services, which licenses and inspects the facility; lawyers from the Defender Association; and representatives of Philadelphia's juvenile probation department.</p>
<p>Erney said she believed Wordsworth had been making strides. Officials there agreed to put cameras in the building and fix up conditions inside, she said. They also pledged to improve training.</p>
<p>The monthly meetings became bi-monthly meetings.</p>
<p>"Everyone seemed to think that they were on the right path, and we were going to go to every six months" for meetings, Erney said.</p>
<p>In retrospect, she said, CBH officials erred in not reading the state inspection reports on Wordsworth. Had they done so, they would have learned of lingering problems, including lapses in training, delays in medical care and injuries to children through improper restraints.</p>
<p>In the report ordering Wordsworth's closure days after Hess' death, state officials cited "gross incompetence, negligence and misconduct in operating the facility."</p>
<p>The assessment came nearly a year after three girls, ages 15 to 17, reported repeated sexual assaults by residential counselor Isaac Outten. The girls said Outten took them to the basement for sex and forced them to take naked photographs of themselves with his iPhone.</p>
<p>Police say he lured the 15-year-old to the basement by promising her diapers and milk for her 1-year-old child in exchange for oral sex and intercourse. They say he promised another girl, 17, that he would help her with a criminal case in exchange for sex and naked selfies, police said. </p>
<p>And the third girl, also 17, told police Outten led her to the basement for sex after a counselor left her alone with him. She said he told her not to tell anyone or he would get into trouble.</p>
<p>Wordsworth suspended and later fired Outten after one of the girls told a counselor what happened. But some staffers had heard rumblings that Outten was having sex with one or more of the girls and they did nothing, according to a summary of interviews Wordsworth officials conducted in preparation for the defense of a lawsuit.</p>
<p>Outten, 37, was charged with institutional sexual assault, involuntary deviate sexual intercourse, corruption of minors, child endangerment and other crimes and is awaiting trial. He has pleaded not guilty and is awaiting trial.</p>
<p>Nadeem A. Bezar, a lawyer who has sued Wordsworth on behalf of two of the girls, said the center breached its duty to them by allowing Outten to be alone with them and thus, failing to protect them.</p>
<p>"It is unfortunate that Wordsworth did not follow protocol that would have prevented their employee from preying on these vulnerable girls," he said. He also faulted officials at Wordsworth for not investigating the rumors that Outten was having sex with the girls.</p>
<p>"The failure of the staff to report what was known at Wordsworth is upsetting," he said. "They should have known. People were talking in the hallways."</p>
<p>That three girls in a single facility could be repeatedly assaulted by a staffer stunned many in the child welfare community. </p>
<p>"I couldn't believe that. It's pretty outrageous," said Frank Cervone, executive director of the Center for Child Advocates, which represents victims of child abuse and neglect.</p>
<p>"Two occasions, three occasions, four occasions," he said, quoting a state report that substantiated the girls' accounts of the assaults and faulted Wordsworth for failing to keep them safe. "I don't think any of us in the advocacy community were aware of this at all."</p>
<p>Cynthia Figueroa, commissioner of the city's Department of Human Services, was similarly upset both by reports of the sexual assaults and of the boy's death.</p>
<p>"David's death was unacceptable," she said. "The manner of his death was troubling.… and it was concerning to know that there had been previous egregious behavior by the staff."</p>
<p>Figueroa was new to the job when Hess was killed at Wordsworth and she hurried to the center to investigate.</p>
<p>"I wanted to see it with my own eyes," she said.</p>
<p>What she found shocked her. The place was in "horrible condition," she said.</p>
<p>"It was not the conditions conducive to a child that would be in our care," she said. "It was really worn down."</p>
<p>Possible trim: To her, that was a bad sign. "How you care about the space in which you're hosting your work is a reflection of how you care about the constituents you're serving," she said. "You need to walk into those places and say, 'Would I allow my child to spend the night here?'"To here</p>
<p>The physical plant aside, Figueroa said, "You could feel the stress and tension when you walked into the building."</p>
<p>Still, she said, some children told her they were happy there, that the staff was like family, that they considered Wordsworth their home. Others wanted to leave.</p>
<p>All of the children were sent elsewhere within days of the closure order "to ensure their safety," Figueroa said.</p>
<p>In addition to the now-shuttered residential treatment facility, Wordsworth runs two community-based agencies that hold city contracts to provide foster care, education and social services for children at risk of abuse, neglect or delinquency. The city pays Wordsworth about $55 million a year for that work, which Figueroa's department oversees.</p>
<p>She said DHS closely monitors the performance of all agencies it hires to provide child welfare services and was prepared to cancel contracts if necessary "Ensuring the safety of all kids in our system is something I take very seriously," she said.</p>
<p>The city contracts, which began in 2013 and 2014, fueled enormous growth at Wordsworth, a nonprofit founded in 1952 that began as a school for children with reading disabilities. Over the years, it grew to into a behemoth organization with a $77 million-a-year budget that also runs a school and an acute psychiatric facility and says it serves more than 5,600 children and families each year.</p>
<p>As Wordsworth's work expanded beyond the residential treatment facility, said Cervone, of the Child Advocacy Center, "it possible that they just lost track of the place."</p>
<p>					*</p>
<p>In the past decade, dozens of sex crimes have been reported at Wordsworth. Data released by the Philadelphia Police Department in response to a public-records request shows that police investigated reports of 12 rapes, two cases of involuntary deviate sexual intercourse, four cases of corruption of the morals of a minor and one case of child endangerment.</p>
<p>In addition, police were called to investigate 23 reports of sexual abuse and six reports of physical abuse.</p>
<p>"That's really extraordinary," said Cervone. "That's even more shocking that the initial report" of the assaults on the three girls.</p>
<p>Police declined to provide details of those cases, as did officials at Wordsworth, but records obtained by the Inquirer shed light on some of the crimes.</p>
<p>In April 2015, a 16-year-old boy was attacked at Wordsworth. At 4:30 in the morning, he was awakened by another boy who forced him to perform oral sex and then pushed him to the floor and raped him.</p>
<p>Craig Roberts, 16, was later arrested and adjudicated delinquent on a sexual assault charge.</p>
<p>At the time of the assault, Roberts, who was sent to Wordsworth after committing a robbery and threatening to inflict bodily harm on someone, was supposed to be kept under one-on-one supervision, lawyers for the victim said. Instead, he was left alone and attacked the boy.</p>
<p>"One of the people responsible for taking care of this kid allowed it to happen," said Brandi L. McLaughlin, a lawyer for the victim.(need to make sure she is okay with this quote.)</p>
<p>Aside from Roberts and Outten, who is accused of assaulting the three girls, arrests were made in just two cases, records show. Those include a 13-year-old boy charged with assaulting a 10-year-old boy in the program and Normam Thompson, a staffer convicted of assaulting a 16-year-old girl at the center in 2007.</p>
<p>Thompson, then 39, went to the girl's room at 4 a.m. police say, touched her genitals and forced her to touch his penis. He later pleaded no contest to indecent exposure and corruption of a minor and was sentenced to five years' probation.</p>
<p>Thompson was not the only staffer alleged to have assaulted a child at Wordsworth that year.</p>
<p>Among the cases that were not prosecuted was that of a woman, now 23, who told police in 2007 that she was raped by a staffer. She was 13 years old at the time.</p>
<p>She said the man into her room one night and attacked her. She told her social worker, who took her to the hospital, she said, and called police.</p>
<p>Other staffers were less supportive, said the woman, whose name the Inquirer is withholding because the paper does not identify victims of alleged sexual assault without their permission.</p>
<p>"They didn't believe me when I told," she said. "Nobody believes you. They all stick together."</p>
<p>After she reported the assault, she said, she was moved to what Wordsworth called the "safe room" and she never saw her attacker again.</p>
<p>But word of her allegations spread through the facility, she said.</p>
<p>"People kept calling me a liar," she said. "So I just told my social worker I didn't want to do it [pursue the case] any more, and they didn't force me.</p>
<p>"I just didn't think about it after that," she said.</p>
<p>The woman described Wordsworth as a violent place where young people fight among themselves and with the staff.</p>
<p>"That place was horrible," she said.</p>
<p>She said she had read about Hess' death on Facebook.</p>
<p>"They need to get justice for that boy because a lot of people got hurt in there and no one did anything," she said. "I got raped and they didn't believe me. My friend was beaten up and nothing happened."</p>
<p>Another woman, now 27, reported a sexual assault by a staffer at Wordsworth in 2008 when she was 16. She said the man came into her room at night, assaulted her and ejaculated on her.</p>
<p>Afterward, she remembered feeling confused.</p>
<p>In ways that she now understands to be wrong, part of her felt good about it. "I was just happy that somebody touched me," she said. "I never had a guy touch me because I was in placement for so long."</p>
<p>The woman said she and her brothers were removed from their home because their mother had mental problems and tried to harm them. </p>
<p>After the assault at Wordsworth, she said she finally told her social worker. "She was like my mom because I'd been there for so long" — since age 11, the woman said, "She told me, 'That's wrong,' and she reported it."</p>
<p>In the police interview about the attack at Wordsworth, she said, the officer kept asking her about rape.</p>
<p>"I think about rape and when I think about rape, I think about guys hurting me," she said. "He didn't hurt me.</p>
<p>"I didn't know it was a crime," she said. "They kept asking me about rape. He didn't rape me. I didn't know what to say for that."</p>
<p>Also, she said, "I didn't want him to lose his job."</p>
<p>The woman said she knew girls at Wordsworth who had sex with staffers. "They'd say, 'Hey, Daddy.' Like you call your man, 'Hey, Daddy.'"</p>
<p>It was tolerated, she said.</p>
<p>"Nothing come to light down there," she said.</p>
<p>					*</p>
<p>The violent struggle that killed Hess was not the first time staffers at Wordsworth went too far in trying to restrain a child. Nor was it the last.</p>
<p>Interviews, court records and state inspection reports show a trail of injuries to children, including broken bones. Along the way, there were repeated warnings that staffers were not using approved methods for safely restraining a child. And there were repeated calls for improved training.</p>
<p>Proper training in how to safely restrain a child is essential in facilities such as Wordsworth, where children can grow combative quickly, experts say.</p>
<p>In Hess' case, he had psychiatric disorders that made him prone to anger and violence, said Marino, the lawyer for his family. "You're going to have to restrain him," he said. "It's foreseeable. But they're not trained to properly restrain the child so they use techniques they'd use in the street."</p>
<p>Lissy Sherman says that's what she experienced at Wordsworth in 2008 when she was 17 years old. She got into a scuffle with a staffer emerged with a broken arm.</p>
<p>In an interview, Sherman, now 26, said it was "med call," or time to get medication, and she didn't come out of her room on time. A mental health technician, Isaac Wilson, came in to get her, she said.</p>
<p>"He literally dragged me out the room pulling my clothes, dragging me, pulling me," she said. "I was like, 'Let me go.'</p>
<p>"These people, they restrain people the wrong way. You're not supposed to grab nobody like that," said Sherman.</p>
<p>She was upset and struggled with him, she said, and fractured her arm in the incident. "You could see my bone sticking out," she said.</p>
<p>Sherman remembers that Wilson turned to her and said: "I didn't do that."</p>
<p>As it happened, her friend saw the attack.</p>
<p>"He had her on the ground and bent her arm back," the woman recalled. "She was crying. She said, 'My fucking arm.' She was upset, but you don't have to fuck her arm up like that. That's crazy." .(note: no name here because she is the woman above who was sexually assaulted. We'll ask whether we can use her name in this context if we don't connect her to the sexual assault.)</p>
<p>A lawsuit Sherman's mother later filed on her behalf said the injury to her arm required surgery to realign the bone. The suit said Wordsworth had failed to properly train and supervise the staffer in appropriate ways to restrain children in its care.</p>
<p>In court papers, a lawyer for Wordsworth said Wilson had not been reckless or negligent in moving to restrain Sherman, who he said had been "combative and aggressive" and contributed to her own injury.</p>
<p>The suit was settled for a sum not disclosed in court documents. Sherman said she was paid $47,000.</p>
<p>Two years later, in 2010, Wordsworth again paid to settle a lawsuit after a 17-year-old girl suffered a broken jaw in a struggle with a staffer who was trying to break up a fight she was having with another girl. Shakara Holly said in court papers that the staffer, Mbengue Ahmadou, used "unusually harsh force" as he attempted to restrain her. Lawyers for Wordsworth and Ahmadou denied that and the case ended when with Wordsworth agreed to pay an undisclosed sum.</p>
<p>In inspections of the facility, state officials repeatedly warned about the importance of the proper use of restraint.</p>
<p>Last June, a staffer at Wordsworth grabbed a child by the neck and pulled the child to the ground, state inspection records show. The same month, another staffer trying to restrain a child put a hand on the child's neck. State officials labeled both incidents child abuse.</p>
<p>The previous year, a child being restrained by a staffer suffered a facial cut and scratches on the neck and cheek. The child also said the staffer sat on the child's ribs. Wordsworth suspended the staffer, who no longer works there.</p>
<p>Problems with improper restraints continued even after Hess' death.</p>
<p>Four days after the fatal incident, a Wordsworth staffer was caught on video aggressively grabbing a child by the shoulders, then falling forward onto a couch, according to a report prepared by state investigators. Other staffers joined to try to separate the two in a struggle that lasted 10 minutes, the report said.</p>
<p>Afterward, Wordsworth officials failed to report the incident to the state Department of Human Services as required by law, the report said. After a week, officials at Wordsworth reviewed the video footage, concluded that the restraint was "an improper technique" and promised to retrain its staff in two days.</p>
<p>But the state ordered to the facility to close that same day.</p>
<p>					*</p>
<p>The last time Maryann Roth spoke to her son David Hess, they talked about his coming home for Christmas.</p>
<p>A few days later, she was planning his funeral.</p>
<p>Roth, who adopted Hess and his two brothers when he was two years old, declined to comment on what happened to him at Wordsworth, saying that it was too painful.</p>
<p>For Hess, as for so many, Wordsworth was supposed to be a refuge, a place to get needed help.</p>
<p>Born into a family with a history of mental illness, Hess was removed from his biological mother's home in Germantown when he was a toddler. His birth mother was schizophrenic, drug-addicted and given to bouts of anger, said Marino, the lawyer for the Hess family. She once hit her other son in the head with a hammer, he said.</p>
<p>Hess and his two brothers were adopted together and moved to Lebanon, Pa., where they lived with Ross, her husband (need to find out how many? other children.</p>
<p>As he grew, Hess exhibited signs of mental illness, paranoia, explosive anger and self-destructive tendencies.</p>
<p>"He was a very, very difficult child," Marino said. "This child's parents couldn't manage him." For a time, he was sent to live at the Bradley Center, a residential treatment facility in Pittsburgh that specializes in helping children with mental health problems.</p>
<p>But officials there found him to be too much of a challenge, Marino said, and he was sent to Wordsworth.</p>
<p>"It's hard to find a setting for kids with these disabilities," said Marino. "You're dealing with a tough population."</p>
<p>At the same time, he said, Wordsworth, in accepting the challenge of admitting and treating Hess, had a duty to help him.</p>
<p>"This is a vulnerable child with mental health issues," said Marino. "Wordsworth says, 'We'll take on the responsibility.' They take the money and they can't manage him."</p>
<p>As it was, Hess died exactly one week before he was scheduled to be released to a group home to learn independent living skills. </p>

            {% set quote = ["This is a quote here", "Source of quote"] %} {% include "partials/left-quote.html" %}

        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col imagebreak">
            <img class="img-fluid" src="http://media.philly.com/images/800*533/112715_Philadelphia-Skyline.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">File photo</div>
            <div class="containerPhotoCaption" alignment="true">A full column width photo of Gavin.</div>
        </div>
    </div>
    <div class="row" alignment="true">
        <div class="col-md-8 col col-md-offset-2" alignment="true">
          <p>The closure of Wordsworth brings no solace to Hess' relatives, his sister Elizabeth said: "My family lost a child."</p>
          <p>Police continue to investigate, and no one has been charged in connection with Hess' death. Wordsworth paid for his funeral.</p>
          <p>To Elizabeth Hess, the loss of her brother's life was senseless.</p>
          <p>"An iPod," she said. "Are we </p>
        </div>
    </div>
</div>
<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
        <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
</div>
